@page "/add-quiz"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<div class="ma-6 d-flex justify-center">
    <MudChip Color="Color.Primary">
        <h3>Add Quiz Form</h3>
    </MudChip>
</div>
<div class="ma-6 d-flex  justify-center">
    <MudCard Width="50em" Class="px-3 py-3">
        <MudForm @ref="_form">
            <MudCardContent>
                @if (!string.IsNullOrEmpty(_apiErrorMessage))
                {
                    <MudChip Class="d-flex justify-center" Color="Color.Error">
                        <h3>@_apiErrorMessage</h3>
                    </MudChip>
                }
                <MudTextField @bind-Value="_model.Title"
                              Required Immediate MaxLength="100"
                              Label="Title" />
                <MudTextField @bind-Value="_model.Category"
                              Required Immediate MaxLength="100" 
                              Label="Category"/>
                @for(int i = 0; i < _model.Questions.Count; ++i)
                {
                    var ii = i;
                    var question = _model.Questions[ii];
                    <MudCard @key="@question" Class="mx-3 my-3" Elevation="5">
                        <MudCardContent>
                            <MudTextField @bind-Value="@question.Text"
                                                Required Immediate MaxLength="100"
                                                Label="Text"
                            />
                            <MudTextField @bind-Value="@question.Answers[0]"
                                                Required Immediate MaxLength="100"
                                          Label="@($"Correct Answer")" />
                            @for (int j = 1; j < question.Answers.Count; j++)
                            {
                                var jj = j;
                                var answer = question.Answers[jj];
                                <MudTextField @bind-Value="question.Answers[jj]"
                                              Required Immediate MaxLength="100"
                                              Label="@($"Wrong Answer {jj}")" />
                            }
                        </MudCardContent>
                        <MudCardActions>
                            <MudButtonGroup Variant="@Variant.Filled" Color="Color.Primary" Class="ml-auto">
                                @if (_model.Questions.Count > 1)
                                {
                                    <MudButton OnClick="@(() => RemoveQuestion(ii))">
                                        Remove Question
                                        </MudButton>
                                }
                                @if(question.Answers.Count > 2)
                                {
                                    <MudButton OnClick="@(() => RemoveAnswer(question))">
                                        Remove Answer
                                    </MudButton>
                                }
                                @if(question.Answers.Count < 8)
                                {
                                    <MudButton OnClick="@(() => AddAnswer(question))">
                                        Add Answer
                                    </MudButton>
                                }
                            </MudButtonGroup>
                        </MudCardActions>
                    </MudCard>
                }
                <MudCardActions>
                    <MudButtonGroup Variant="@Variant.Filled" Color="Color.Primary" Class="ml-auto">
                        <MudButton OnClick="@AddQuestion">Add Question</MudButton>
                        <MudButton OnClick="@AddQuizAsync">Submit</MudButton>
                    </MudButtonGroup>
                </MudCardActions>
            </MudCardContent>
        </MudForm>
    </MudCard>
</div>