@page "/registration"
@using QuizApp.Service.Interface.APIClient;


<div class="ma-6 d-flex justify-center">
    <MudChip Color="Color.Primary">
        <h3>Registration Form</h3>
    </MudChip>
</div>


<div class="ma-6 d-flex  justify-center">
    <MudCard Width="40em">
        <MudForm Model="_registrationModel" @ref="_form" Validation="_registrationValidator.ValidateValue" id="formId">
            <MudCardContent>
                @if (!string.IsNullOrEmpty(_apiErrorMessage))
                {
                    <MudChip Class="d-flex justify-center" Color="Color.Error">
                        <h3>@_apiErrorMessage</h3>
                    </MudChip>
                }

                <MudTextField @bind-Value="_registrationModel.UserName"
                              For="@(() => _registrationModel.UserName)"
                              Immediate
                              Label="User Name" />
                <MudTextField @bind-Value="_registrationModel.Login"
                              For="@(() => _registrationModel.Login)"
                              Immediate
                              Label="Login"/>
                <MudTextField @bind-Value="_registrationModel.Password"
                              For="@(() => _registrationModel.Password)"
                              Immediate
                              Label="Password" InputType="InputType.Password" />
                <MudTextField @bind-Value="_registrationModel.ConfirmPassword"
                              For="@(() => _registrationModel.ConfirmPassword)"
                              Immediate
                              Label="Confirm Password" InputType="InputType.Password" />
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="RegisterAsync">Register</MudButton>
                </MudCardActions>
            </MudCardContent>
        </MudForm>
    </MudCard>
</div>